.frontpage-container {
color: #ffffff;
padding: 20px;
text-align: center;
}

.page-title {
font-size: 32px;
}

.button-container {
display: flex;
justify-content: center;
margin-top: 20px;
}

button {
background-color: #007bff;
color: #ffffff;
border: none;
padding: 10px 20px;
margin-right: 10px;
border-radius: 10px;
cursor: pointer;
width: 150px; /* Adjust the width as needed */
}

button:first-child {
margin-right: 20px; /* Increase the spacing between the buttons */
}

button:hover {
background-color: #0056b3;
}
body{
    background-color: #222324;
}